<!DOCTYPE html>
<html>
<head>
  <title>Bob Liu - Product Designer</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/navbar.ejs %>

  <main class="gallery">
    <div class="hero">
      <a href="/" class="lang-logo">
        <img src="">
      </a>
      <h1></h1>
    </div>
  </main>

  <% include ../partials/footer.ejs %>
</body>
</html>
